[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git@github.com:DasIch/snipmate.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = http://github.com/DasIch/vim-git.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = http://github.com/DasIch/vim-unimpaired.git
[submodule "vim/bundle/vividchalk"]
	path = vim/bundle/vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
