[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git@github.com:DasIch/snipmate.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = http://github.com/DasIch/vim-git.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = http://github.com/DasIch/vim-unimpaired.git
[submodule "vim/bundle/vividchalk"]
	path = vim/bundle/vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/mercurial"]
	path = vim/bundle/mercurial
	url = git@github.com:DasIch/vim-mercurial.git
[submodule "vim/bundle/cameo"]
	path = vim/bundle/cameo
	url = git@github.com:DasIch/vim-cameo.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/DasIch/gundo.vim.git
[submodule "hub"]
	path = hub
	url = http://github.com/defunkt/hub.git
[submodule "vim/bundle/vala"]
	path = vim/bundle/vala
	url = git@github.com:DasIch/vim-vala.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git@github.com:DasIch/vim-surround.git
[submodule "vim/bundle/conque"]
	path = vim/bundle/conque
	url = https://github.com/rson/vim-conque.git
